<div class="bg-dark text-white position-fixed top-0 end-0 vh-100 p-3" style="width: 150px; z-index: 1050;">
  <h5 class="mb-4 text-center">Menú</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link text-white" href="index.html">Inicio</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" href="productos.html">Productos</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white" href="login.html">Salir</a>
    </li>
  </ul>
</div>